
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
  }
  
  .profile {
    text-align: center
  }
  
  .profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile h2 {
    margin-bottom: 10px;
    color: #333;
  }
  .personal-data {
    padding-left: 20px;
  }
  
  .personal-data h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .personal-data ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .personal-data li {
    margin-bottom: 10px;
    color: #666;
  }
  
  .personal-data strong {
    font-weight: bold;
  }
  
  .personal-data a {
    color: #3498db;
    text-decoration: none;
  }
  
  .personal-data a:hover {
    text-decoration: underline;
  }
  
  .personal-data .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .personal-data .btn-primary:hover {
    background-color: #2386c8;
  }
  
