<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/admin_foto.css">
    <script src="https://kit.fontawesome.com/24c5433507.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header class="navbar navbar-expand-md navbar-dark d-print-none bg-dark text-white">
        <div class="container-xl">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href="./inicio_perfil.html" class="text-decoration-none text-white" >
              <img src="../img/DALL·E 2023-04-01 22.40.17 - a cat taking a rainbow photo, digital art-modified.png" alt="Tabler" class="navbar-brand-image" width="32" height="32">
              ARTBOARD
            </a>
          </h1>
          <div class="navbar-nav flex-row order-md-last">
            <div class="nav-item dropdown">
              <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="Open user menu" aria-expanded="false">
                <span class="avatar avatar-sm" style="background-image: url(./static/avatars/000m.jpg)"></span>
                <div class="d-none d-xl-block ps-2">
                  <div>Joaquin</div>
                </div>
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                <a href="./subir_foto.html" class="dropdown-item">Subir foto</a>
                <a href="./perfil.html" class="dropdown-item">Perfil</a>
                <div class="dropdown-divider"></div>
                <a href="./inicio.html" class="dropdown-item">Cerrar Sesión</a>
              </div>
            </div>
          </div>
        </div>
      </header>





    <div class="container">
        <div class="row">
            <div class="col-md-8" style="margin-top: 20px;">
                <img src="../img/EREN-YAEGER-MANGA-PANEL-FREEDOM.jpg" width="100%" alt="">
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <div class="details-container" style="background-color: #f2f2f2; padding: 20px;">
                    <h2>EREN-YAEGER-MANGA-PANEL-FREEDOM</h2>
                    <p><strong>Descripción:</strong>Paneles de manga snk</p>
                    <p><strong>Autor:</strong> <i class="fas fa-user"></i>Laura Torres</p>
                    <p><strong>Fecha:</strong> 11-04-2023</p>
                    <button class="like-button" data-bs-toggle="button"><i class="fas fa-heart"></i> Megusta</button>
                    <button class="save-button"><i class="fas fa-save"></i> Guardar</button>
                    <button class="share-button"><i class="fas fa-share-alt"></i> Compartir</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form id="formulario" action="">
                    <label for="exampleFormControlTextarea1" class="form-label">Deja tu comentario aqui</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    <button id="boton-enviar" type="submit"> enviar </button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Comentarios:</h2>
                    <ul class="comment-list">
                        <li>
                            <div class="comment">
                                <div class="comment-img">
                                    <img src="../img/perfil 1.png" alt="Perfil de usuario">
                                </div>
                                <div class="comment-text">
                                    <a href="./perfil_admin2.html"><h6 class="author">Clash of clans edit</h6></a>
                                    <p>TEAM EREN!</p>
                                    <button class="delete-comment-button"><i class="fas fa-trash"></i> Eliminar</button>

                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="comment">
                                <div class="comment-img">
                                    <img src="../img/perfil 3.png" alt="Perfil de usuario">
                                </div>
                                <div class="comment-text">
                                    <a href="./perfil_admin.html"><h6 class="author">Joaquin </h6></a>
                                    <p>SNK>ONE PIECE</p>
                                    <button class="delete-comment-button"><i class="fas fa-trash"></i> Eliminar</button>

                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="comment">
                                <div class="comment-img">
                                    <img src="../img/perfil 2.jpg" alt="Perfil de usuario">
                                </div>
                                <div class="comment-text">
                                   <a href="./perfil_admin3.html"><h6 class="author">CR7MESSI FANBOI</h6></a> 
                                    <p>ES MEJOR EL FUTBOL</p>
                                    <button class="delete-comment-button"><i class="fas fa-trash"></i> Eliminar</button>
                                </div>
                            </div>
                            

                        </li>
                    </ul>
                </div>
                


            </div>
        </div>
    </div>
    </div>




























    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>