{% extends 'base.html' %}
{% load static %}

{% block title %}Título de la página de inicio{% endblock %}

{% block content %}
  <header class="navbar navbar-expand-md navbar-dark d-print-none bg-dark text-white px-4">
    <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="{% url 'inicio' %}" class="text-decoration-none text-white">
        <img src="{% static 'img/DALL·E 2023-04-01 22.40.17 - a cat taking a rainbow photo, digital art-modified.png' %}"
          alt="Tabler" class="navbar-brand-image" width="32" height="32">
        ARTBOARD
      </a>
    </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"
      aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbar-menu">
      <div class="text-end ">
        <a href="iniciar_sesion.html">
          <button type="button" class="btn btn-outline-primary me-2">Iniciar Sesión</button>
        </a>
        <a href="registrarse.html">
          <button type="button" class="btn btn-primary">Registrarse</button>
        </a>
      </div>
    </div>
  </header>

  <div class="masonry">
    <div class="item">
      <img src="{% static 'publicaciones/img/main-qimg-6527c18345b49ca47c505abe57a5c380-lq.jpg' %}" alt="">
    </div>

    <div class="item">
      <a href="detalle_foto.html"><img src="{% static 'img/EREN-YAEGER-MANGA-PANEL-FREEDOM.jpg' %}" alt=""></a>
    </div>

    <div class="item">
      <img src="{% static 'img/jujutsu-kaisen-gege-akutami-manga-anime-1245368.webp' %}" alt="">
    </div>

    <div class="item">
      <img src="{% static 'img/desktop-wallpaper-aot-manga-panels.jpg' %}" alt="">
    </div>

    <div class="item">
      <img src="{% static 'img/desktop-wallpaper-aot-manga-panels.jpg' %}" alt="">
    </div>

    <div class="item">
      <img src="{% static 'img/ccc89395489d5516c6fc8868abc5e10e.jpg' %}" alt="">
    </div>

    <div class="item">
      <img src="{% static 'img/desktop-wallpaper-aot-manga-panels-final.jpg' %}" alt="">
    </div>

    <div class="item">
      <img src="{% static 'img/1.jpg' %}" alt="">
    </div>
  </div>

{% endblock %}
